.demo-card-event.mdl-card {
  width: 256px;
  height: 256px;
  background: ghostwhite;
}
.demo-card-event > .mdl-card__actions {
  border-color: rgba(255, 255, 255, 0.2);
}
.demo-card-event > .mdl-card__actions {
  display: flex;
  box-sizing:border-box;
}
.demo-card-event > .mdl-card__title,
.demo-card-event > .mdl-card__actions,
.demo-card-event > .mdl-card__actions > .mdl-button {
  color: dimgrey;
}

.tooltip-card.mdl-card {
    display: flex;
    width: 256px;
    min-height: 0px;
    background: ghostwhite;
    justify-content: center
}

.set-card.mdl-card {
    display: flex;
    width: 256px;
    min-height: 0px;
    background: ghostwhite;
    justify-content: flex-start;
    height: auto
}
.two-boys {
    display: flex;
    flex-direction: column
}

.blank {
    height: 5px
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.flex-justify-start {
  justify-content: flex-start;
}

.flex-justify-end {
  justify-content: flex-end;
}

.flex-align-center {
  align-items: center;
  align-content: center;
}

.flex-align-stretch {
  align-items: stretch;
  align-content: stretch;
}

.flex-align-end {
  align-items: flex-end;
  align-content: flex-end;
}

.flex-align-start {
  align-items: flex-start;
  align-content: flex-start;
}

.flex-fill {
  flex: 1;
}

.two {
    display: flex;
    flex-direction: column;
    width: 256px
}

.beside {
    display: flex;
    flex-direction: row;
    width: 522px;
    justify-content: space-between
}