.visualization-1-card.mdl-card {
    display: flex;
    width: 256px;
    height: 256px;
}
.request-moment {
    display: flex;
    align-items: center;
}
.central {
    display: flex;
    width: 600px;
    flex-wrap: wrap;
    justify-content: center;
}
.three {
    display: flex;
    align-items: center;
}