.visualization-div {
    display: flex;
    flex-direction: row
}
.visualization-1-card.mdl-card {
    display: flex;
    width: 256px;
    height: 256px;
}
.request-moment {
    display: flex;
    align-items: center;
}
.central {
    display: flex;
    flex-direction: column; 
    width: 1024px;
    flex-wrap: wrap;
    justify-content: center;
}
.three {
    display: flex;
    align-items: center;
    flex-direction: raw
}
.four {
    display: flex;
    align-items: center;
    flex-direction: raw
}